<p id="notice"><%= notice %></p>
<h1><%= t('.title_html') %></h1>

<% cache @products do %><!--Only re-render when a new product is added-->
  <% @products.each do |product| %>
    <% cache product do %><!--Only re-render a product when it's modified-->
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %><!--`sanitize` allows us to safely add HTML styling-->
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to t('.add_html'), line_items_path(product_id: product, locale: I18n.locale), remote: true %><!--Send an AJAX request using remote: true--><!--If we don't pass the locale to the remote call the cart will render in English-->
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
