<!DOCTYPE html>
<html>
  <head>
    <title>Book Depot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag 'logo.svg', alt: 'The Awsome Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <% if @cart %> <!--If @cart is set for any controller then show the cart in the sidebar, without this we would get errors visiting another page where @cart is not set in its controller.-->
            <%= render @cart %> <!--We're invoking the store layout while looking at the index() action.-->
          <% end %>
        </div>
        <ul>
          <li><%= link_to 'Home', store_index_path %></li>
          <li><a href="#">Questions</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
